In [3]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [4]:
%pwd
%ls

BOS_M2015_dl.xlsx*       Untitled.ipynb           field_descriptions.xlsx*
MSA_M2015_dl.xlsx*       aMSA_M2015_dl.xlsx*      file_descriptions.xlsx*

In [5]:
file = pd.read_excel('aMSA_M2015_dl.xlsx')

In [6]:
file.head()

,PRIM_STATE,AREA,AREA_NAME,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC QUOTIENT,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",00-0000,All Occupations,total,5627380,0.3,1000,1,...,18.6,32.36,50.88,19610,24340,38700,67310,105830,NaN,NaN
1,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-0000,Management Occupations,major,326680,0.9,58.051,1.15,...,52.22,76.25,#,48140,71080,108620,158600,#,NaN,NaN
2,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-1011,Chief Executives,detailed,11610,4,2.064,1.19,...,#,#,#,92060,146230,#,#,#,NaN,NaN
3,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-1021,General and Operations Managers,detailed,102660,1.5,18.242,1.17,...,52.13,83.12,#,47760,70030,108440,172900,#,NaN,NaN
4,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-1031,Legislators,detailed,750,7.8,0.133,0.33,...,*,*,*,37290,48260,60630,82120,104560,True,NaN

In [7]:
file.columns

Index(['PRIM_STATE', 'AREA', 'AREA_NAME', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP',
       'TOT_EMP', 'EMP_PRSE', 'JOBS_1000', 'LOC QUOTIENT', 'H_MEAN', 'A_MEAN',
       'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90',
       'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'ANNUAL',
       'HOURLY'],
      dtype='object')

In [20]:
file.H_MEAN = pd.to_numeric(file.H_MEAN, errors='coerce')
file.A_MEAN = pd.to_numeric(file.A_MEAN, errors='coerce')

In [12]:
file.OCC_TITLE.value_counts().head(5)

Operations Research Analysts                                      11
Demonstrators and Product Promoters                               11
Operating Engineers and Other Construction Equipment Operators    11
Sales Representatives, Services, All Other                        11
Pesticide Handlers, Sprayers, and Applicators, Vegetation         11
Name: OCC_TITLE, dtype: int64

In [32]:
#Highest paid peeps!
file.groupby(('AREA_NAME','OCC_TITLE')).A_MEAN.mean().sort_values(ascending=False).head(15)

AREA_NAME                                    OCC_TITLE
Dallas-Fort Worth-Arlington, TX              Orthodontists                      283790
Detroit-Warren-Dearborn, MI                  Anesthesiologists                  279900
Miami-Fort Lauderdale-West Palm Beach, FL    Dentists, All Other Specialists    276200
Dallas-Fort Worth-Arlington, TX              Dentists, All Other Specialists    275810
Los Angeles-Long Beach-Anaheim, CA           Psychiatrists                      272160
Philadelphia-Camden-Wilmington, PA-NJ-DE-MD  Anesthesiologists                  268920
Boston-Cambridge-Nashua, MA-NH               Oral and Maxillofacial Surgeons    268200
New York-Newark-Jersey City, NY-NJ-PA        Anesthesiologists                  261630
Dallas-Fort Worth-Arlington, TX              Surgeons                           255120
Miami-Fort Lauderdale-West Palm Beach, FL    Anesthesiologists                  254890
Chicago-Naperville-Elgin, IL-IN-WI           Surgeons                           254220
Boston-Cambridge-Nashua, MA-NH               Anesthesiologists                  251010
Dallas-Fort Worth-Arlington, TX              Psychiatrists                      248500
New York-Newark-Jersey City, NY-NJ-PA        Surgeons                           246910
Boston-Cambridge-Nashua, MA-NH               Obstetricians and Gynecologists    244830
Name: A_MEAN, dtype: float64